h1 {
  color:blue;
  font-family:helvetica;
  background-color: purple;
  border: 10px solid fuchsia;
  padding: 30px;
}

p {
  color:pink;

}
#highlight {
  color:purple;
  background-color: green;
  border: 2px dotted green;
}

body {background-color: green;
}

h2 {
  color:purple;
  font-family:helvetica;
  background-color:mediumseagreen;
  border: 2px solid fuchsia;
  padding: 20px;
}

img {
  background-color:purple;
  border: 10px solid fuchsia;
  padding: 30px;
  margin-left: 75px;
}
